* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.main-app {
  min-height: 93.vh;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

a {
  width: auto;
  text-decoration: none;
  color: inherit;
}
